@import "../core/stylesheet/container";
@import "../core/stylesheet/button";

.amljs-confirm {
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 8px;
  }

  &-message {
    box-sizing: border-box;
    color: #000000d9;
    font-size: 18px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    word-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 16px;
  }
  &-close {
    animation-name: easeOutScaled;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-fill-mode: none;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    button {
      width: 47%;
    }

  }
}
