@import "../core/stylesheet/container";
@import "../core/stylesheet/button";

.amljs-confirm {
  &-title {
    font-size: 22px;
    margin-bottom: 24px;
    color: #2D3748;
    font-weight: 700;
    line-height: 28px;
  }

  &-message {
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 24px;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    word-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 16px;
    padding: 12px 16px;
    background: #BEE3F8;
    color: #2D3748;
    border-left: 4px solid var(--blue-500, #3182CE);
  }
  &-close {
    animation-name: easeOutScaled;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-fill-mode: none;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
    button {
      flex: 1;
      margin: 0 8px;
    }

    button:first-child {
      background: #3182CE;
    }
    button:last-child {
      color: #1A202C;
      background: #EDF2F7;
    }
  }
}
