@import "../core/stylesheet/container";
@import "../core/stylesheet/button";
@import "icon";

.amljs-alert {
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 8px;
  }
  &-message {
    box-sizing: border-box;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    word-wrap: break-word;
    border-radius: 2px;
    &--error {
      background: #ffccc7;
    }
    &--success {
      background: #b7eb8f;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  &-button {
    margin-top: 8px;
  }
}
