@import "button";
@import "../core/animations/easeIn";
@import "../core/animations/easeInScaled";
@import "../core/animations/easeOut";
@import "../core/animations/easeOutScaled";

.amljs-alert {
  position: fixed;
  top: 10%;
  left: calc(50% - 150px);
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 300px;
  animation-name: easeInScaled;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: none;
  z-index: 99999;

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99998;
    animation-name: easeIn;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: none;
    &-close {
      animation-name: easeOut;
      animation-duration: 150ms;
      animation-timing-function: ease-out;
      animation-fill-mode: none;
    }
  }
}
.amljs-alert-message {
  margin-bottom: 1rem;
}

.amljs-alert-close {
  animation-name: easeOutScaled;
  animation-duration: 150ms;
  animation-timing-function: ease-out;
  animation-fill-mode: none;
}
