@import "button";
@import "../core/animations/easeIn";
@import "../core/animations/easeInScaled";
@import "../core/animations/easeOut";
@import "../core/animations/easeOutScaled";

.amljs-prompt {
  position: fixed;
  top: 10%;
  left: calc(50% - 150px);
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 300px;
  animation-name: easeInScaled;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: none;
  z-index: 99999;

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99998;
    animation-name: easeIn;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-fill-mode: none;
    &-close {
      animation-name: easeOut;
      animation-duration: 150ms;
      animation-timing-function: ease-out;
      animation-fill-mode: none;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 8px;
  }

  &-message {
    box-sizing: border-box;
    color: #000000d9;
    font-size: 18px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
    word-wrap: break-word;
    border-radius: 2px;
  }
}
.amljs-prompt-message {
  margin-bottom: 1rem;
}


.amljs-prompt-close {
  animation-name: easeOutScaled;
  animation-duration: 150ms;
  animation-timing-function: ease-out;
  animation-fill-mode: none;
}

.amljs-prompt-input {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
  margin: 4px 2px;
  font-size: 16px;
}
