@import "../core/stylesheet/container";
@import "../core/stylesheet/button";

.amljs-prompt {
  &-title {
    font-size: 22px;
    margin-bottom: 24px;
    color: #2D3748;
    font-weight: 700;
    line-height: 28px;
  }

  &-message {
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 24px;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    word-wrap: break-word;
    border-radius: 2px;
    margin-bottom: 16px;
    padding: 12px 16px;
    background: #BEE3F8;
    color: #2D3748;
    border-left: 4px solid var(--blue-500, #3182CE);
  }
  &-close {
    animation-name: easeOutScaled;
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-fill-mode: none;
  }
  &-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    margin: 8px 0 16px 0;
    padding: 0 16px;
    font-size: 16px;
    color: #2D3748;
    outline: none;
    border-radius: 4px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    &:focus {
      outline: #3182CE;
    }
  }
  &-button {
    background: #3182CE;
  }
}
